<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="page-wrap" style="max-width:900px">
        <div class="form-box">

            <h3 class="fm-title">답변 수정</h3>

            <form th:action="@{/answers/edit/{answerId}(answerId=${answer.answerId})}"
                  th:object="${answerFormDto}" method="post">
                <input type="hidden" name="questionId" th:value="${questionId}">

                <div class="fm-group">
            <textarea th:field="*{content}" class="fm-control"
                      rows="6" placeholder="답변 내용을 입력하세요"></textarea>
                    <div class="fm-error"
                         th:if="${#fields.hasErrors('content')}"
                         th:errors="*{content}"></div>
                </div>

                <div class="fm-buttons">
                    <a th:href="@{/questions/detail/{id}(id=${questionId})}" class="btn-l">취소</a>
                    <button type="submit" class="btn-fill">수정 완료</button>
                </div>
            </form>

        </div>
    </div>
</th:block>
</body>
</html>